/*CSS
#CB0F65


*/

@font-face {
	font-family: cronos;
	src: url(../font/cronos.otf);
}

body {
	font-family: cronos;
	font-size: 1.9em;
	min-height: 100vh;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background: rgba(95, 10, 181, 0.6); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, rgba(95, 10, 181, 1), rgba(45, 43, 36,1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgba(95, 10, 181, 1), rgba(45, 43, 36,1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgba(95, 10, 181, 1), rgba(45, 43, 36,1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgba(95, 10, 181, 1), rgba(45, 43, 36,1));  /* Standard syntax */	
}

h3, h1 {
	font-size: 2em;
	text-shadow: 1px 2px black;
	text-align: center;
	background: #e6a4e5; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(#e6a4e5 25%, rgba(230, 164, 229, 0.3) 45%,rgba(230, 164, 229, 0) 75%); /* Safari 5.1-6.0 */
	background: -o-radial-gradient(#e6a4e5 25%, rgba(230, 164, 229, 0.3) 45%, rgba(230, 164, 229, 0) 75%); /* For Opera 11.6-12.0 */
	background: -moz-radial-gradient(#e6a4e5 25%, rgba(230, 164, 229, 0.3) 45%, rgba(230, 164, 229, 0) 75%); /* For Firefox 3.6-15 */
	background: radial-gradient(#e6a4e5 25%, rgba(230, 164, 229, 0.3) 45%, rgba(230, 164, 229, 0) 75%); /* Standard syntax */	
}

h3 {
	padding: 15px 0;
	width: 100px;
}

td {
	margin-left: 5px;
}